.update-client-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}